{% load static %}
{% load cache_bust %}
{% load this_year %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/ico" href="{% static 'j34main/img/34favicon.ico' %}" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css"
          href="{% static 'j34main/css/style.min.css' %}?{% cache_bust %}">
  </head>

  <body>

  <div id="contentWrapper">

    <div class="column-12">

        <a href="{% url 'index' %}"><img id="logo"
                                         src="https://live.staticflickr.com/65535/49930752608_ab16c13a36_n.jpg"
             alt="jovian34 LLC"></a>
        <h2>impactful human tech from simple tools</h2>
        <br clear="both">

        <img class="banner" src="https://live.staticflickr.com/65535/49930752748_2a40dba83d_b.jpg">

    </div><!-- end of banner -->

    <div class="column-12"><br clear="both"></div>

        {% block content %}{% endblock %}


  </div>
  

  <div id="footerWrapper">
        <footer>
            <p>Copyright &#169;{% this_year %} <a href="{% url 'index' %}">jovian34 LLC</a></p>
            <p>website maintained by <a href="https://github.com/jovian34">Carl James</a>: <a 
              rel="me" href="https://social.linux.pizza/@jovian34">Mastodon</a></p>
              <hr>
              {% if user.is_authenticated %}
              <p>Welcome, {{ user.first_name}}.</p>
                <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit">Sign Out</button>
                </form>
              {% else %}
              <p><a href="{% url 'login' %}">Staff login</a></p>
              {% endif %}
            
        </footer>
  </div>

  <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js"></script>

  </body>

</html>