

{% load markitup %}

<br clear="both">

<div class="column-12" hx-trigger="load" hx-get="{% url "cat_nav" category.pk %}" hx-target="#cat-nav">

</div>

{% for article in row_one %}

<div class="column-6">
    <h1>{{ article.title }}</h1>
    <h2>{{ article.sub_title }}</h2>
    <p>by {{ article.author }} | {{ article.location }} | {{ article.pub_date.date }}</p>
    <figure class="col6">
        <img src="{{ article.featured_image }}">
        <figcaption>{{ article.image_caption }}</figcaption>
    </figure>

    {% autoescape off %}
    {{ article.teaser | markitup }}
    {% endautoescape %}
    <p>... for more <a href="{% url 'blog' article.pk %}">click here</a></p>
</div>

{% endfor %}

<div class="column-12"><br clear="both"></div>

{% for article in row_two %}
<div class="column-6">
    <h1>{{ article.title }}</h1>
    <h2>{{ article.sub_title }}</h2>
    <p>by {{ article.author }} | {{ article.location }} | {{ article.pub_date.date }}</p>
    <figure class="col6">
        <img src="{{ article.featured_image }}">
        <figcaption>{{ article.image_caption }}</figcaption>
    </figure>

    {% autoescape off %}
    {{ article.teaser | markitup }}
    {% endautoescape %}

    <p>... for more <a href="{% url 'blog' article.pk %}">click here</a></p>
</div>

{% endfor %}