{% extends "base.html" %}

{% load markitup %}

{% block title %}jovian34 LLC{% endblock %}

{% block content %}

    <div class="column-3"></div>

    <div class="column-6">
        <h1>{{ article.title }}</h1>
        <h2>{{ article.sub_title }}</h2>
        <p>by {{ article.author }} | {{ article.location }} | {{ article.pub_date.date }}</p>
        <figure class="col6">
            <img src="{{ article.featured_image }}">
            <figcaption>{{ article.image_caption }}</figcaption>
        </figure>
        
        <div id="blog_content">
            {% autoescape off %}
            {{ article.content | markitup }}
            {% endautoescape %}
        </div>
        <br clear=both>

        {% for section in add_content %}
            <div id="blog_content">                
                {% autoescape off %}
                    {% if section.is_raw_html %}
                        {{ section.additional_content }}
                    {% else %}
                        {{ section.additional_content | markitup }}
                    {% endif %}
                {% endautoescape %}                
            </div>
            <br clear=both>
        {% endfor %}
    </div>



   <div class="column-3">
   <figure class="col3full">
    <img src="https://live.staticflickr.com/65535/49931263861_877b53bb07_w.jpg">
       <figcaption>Carl James is CompTIA A+ ce Certified</figcaption>
   </figure>
    {% if user.is_authenticated %}
        <h2><a href="{% url 'edit_blog' article.pk %}">Edit {{ article.title }}</a></h2>
    {% endif %}
   </div>

    <br clear="both">

    <div class="column-12">
        <h2>Categories
            {% for category in categories %} 
                || {{ category.cat_name }}
            {% endfor %}
        </h2>
        <hr>
        <h2>See a complete list of all <a href="{% url 'blogs' %}">jovian34 blogs</a></h2>
        <p>As always, I'd love to hear you're thoughts and questions, so feel free to
            shoot a <a href="https://social.linux.pizza/@jovian34">Noot to @jovian34</a> 
            on Mastodon and I
            will gladly respond and perhaps write a blog post on a topic you suggest.</p>
    </div>


{% endblock %}