{% extends 'base.html' %}

{% load markitup %}

{% block title %}Edit Blog: {{ title }}{% endblock %}

{% block content %}

    <div class="column-3"></div>

    <div class="column-6">
   
        <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
        </form>

        <hr>
        <br>
        <h1>Edit Additional Content Sections:</h1>
        <p>Click the "Edit" button below the section(s) you want to change.</p>
        <p>You must submit partial changes invidually <em>before</em> clicking "submit" above.
            or your changes will be lost.</p>
        <br>

        {% for content in add_cons %}

        <div class="columns-12" id="add-{{ content.pk }}">
            <hr>
            {% autoescape off %}
            {% if content.is_raw_html %}
                {{ content.additional_content }}
                <br>
            {% else %}
                {{ content.additional_content | markitup }}             
            {% endif %}
            {% endautoescape %}
            <button hx-get="{% url 'edit_add_con' content.pk %}" hx-target="#add-{{ content.pk }}">Edit</button>
        </div>
        <br>
        {% endfor %}

    
    </div>
    <br clear=both>

{% endblock %}