{% extends "base.html" %}

{% block title %}jovian34 LLC{% endblock %}

{% block content %}

    <div class="column-12">
        <h1>jovian34 LLC Blogs</h1>
    </div>

    <div id="cat-nav">
    {% for category in categories %}        
        <div class="nav-buttons column-3"
            hx-get="{% url 'category_blogs' category.pk %}" 
            hx-target="#cat_blogs">
                <h2>{{ category.cat_name }}</h2>
        </div>        
    {% endfor %}    
    </div>

    <div class="column-12"></div>

    <div id="cat_blogs">
        <div hx-get="{% url 'category_blogs' '3' %}" hx-trigger="load" hx-target="this"></div>
    </div>

    

    <br clear="both">
    <div class="column-12">
        <h2>See a complete list of all <a href="{% url 'blogs' %}">jovian34 blogs</a></h2>
        {% if user.is_authenticated %}

        <h2><a href="{% url 'create_blog' %}">Add a new blog entry</a></h2>

        {% endif %}
    </div>

{% endblock %}