/env/
/env310/
/venv310/
/venv311/
/venv/
/.venv/
/j34web_django/.env
/j34main/static/admin/
/.venv310_1/
.vscode/launch.json
j34main/__pycache__
j34main/migrations/__pycache__
j34main/templatetags/__pycache__
j34web_django/__pycache__
/django_project/__pycache__
.env
/iubase_players/__pycache__
/iubase_players/migrations/__pycache__
/j34_web_django/.env