asgiref==3.8.1
coverage==7.8.0
Django==5.2
execnet==2.1.1
iniconfig==2.1.0
Markdown==3.7
packaging==24.2
pluggy==1.5.0
psycopg==3.2.6
psycopg-binary==3.2.6
pytest==8.3.5
pytest-cov==6.1.0
pytest-django==4.11.0
pytest-xdist==3.6.1
python-dotenv==1.1.0
sqlparse==0.5.3
