asgiref==3.8.1
beautifulsoup4==4.12.3
coverage==7.6.10
Django==5.1.5
execnet==2.1.1
iniconfig==2.0.0
Markdown==3.7
markdownify==0.14.1
nh3==0.2.20
packaging==24.2
pipdeptree==2.24.0
pluggy==1.5.0
psycopg==3.2.4
psycopg-binary==3.2.4
pytest==8.3.4
pytest-cov==6.0.0
pytest-django==4.9.0
pytest-xdist==3.6.1
python-dotenv==1.0.1
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
