@media only screen and (min-width: 1400px) {

/*---------HEADER----------*/

header, nav, .row, footer {
	max-width: 1140px;
	margin: 0 auto;
}


/*-------NAV---------*/


/*-------COLUMNS----------*/
.column-2 {
	width: 16.6666%;
}	
	

}  /*end of the media query*/
