{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'j34main/css/phone-default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'j34main/css/tablet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'j34main/css/desktop.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'j34main/img/34favicon.ico' %}"/>
  </head>
  <body>

  <div id="contentWrapper">

    <div class="column-12">

        <a href="{% url 'index' %}"><img id="logo"
                                         src="https://live.staticflickr.com/65535/49930752608_ab16c13a36_n.jpg"
             alt="jovian34 LLC"></a>

        <br clear="both">

        <img class="banner" src="https://live.staticflickr.com/65535/49930752748_2a40dba83d_b.jpg">

    </div><!-- end of banner -->

    <div class="column-12"><br clear="both"></div>

        {% block content %}{% endblock %}


  </div>
  </body>

  <div id="footerWrapper">
        <footer>
            <p>Copyright &#169;2020 jovian34 LLC</p>
            <p>website maintained by <a href="https://github.com/jovian34">Carl James</a></p>
        </footer>
  </div>
</html>