{% load static %}
{% load my_templatetag %}
{% load this_year %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">_
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css"
          href="{% static 'j34main/css/style.min.css' %}?cacheId={{ '../j34web_django/static/j34main/css/style.min.css' | create_cache_id }}">
  </head>

  <body>

  <div id="contentWrapper">

    <div class="column-12">

        <a href="{% url 'index' %}"><img id="logo"
                                         src="https://live.staticflickr.com/65535/49930752608_ab16c13a36_n.jpg"
             alt="jovian34 LLC"></a>

        <br clear="both">

        <img class="banner" src="https://live.staticflickr.com/65535/49930752748_2a40dba83d_b.jpg">

    </div><!-- end of banner -->

    <div class="column-12"><br clear="both"></div>

        {% block content %}{% endblock %}


  </div>
  

  <div id="footerWrapper">
        <footer>
            <p>Copyright &#169;{% this_year %} <a href="{% url 'index' %}">jovian34 LLC</a></p>
            <p>website maintained by <a href="https://github.com/jovian34">Carl James</a></p>
        </footer>
  </div>

  <script src="{% static 'j34main/js/htmx.min.js' %}?cacheId={{ 'static/j34main/js/htmx.min.js' | create_cache_id }}"></script>

  </body>

</html>