{% extends "base.html" %}

{% block title %}jovian34 LLC{% endblock %}

{% block content %}

    <div class="column-12">
        <h1>jovian34 LLC Blogs</h1>
    </div>

    {% for article in row_one %}
        <div class="column-6">
            <h1>{{ article.title }}</h1>
            <h2>{{ article.sub_title }}</h2>
            <p>by {{ article.author }} | {{ article.location }} | {{ article.pub_date.date }}</p>
            <figure class="col6">
                <img src="{{ article.featured_image }}">
                <figcaption>{{ article.image_caption }}</figcaption>
            </figure>

            {% autoescape off %}
            {{ article.teaser }}
            {% endautoescape %}
            <p>... for more <a href="{% url 'blog' article.pk %}">click here</a></p>
        </div>

    {% endfor %}

    <div class="column-12"><br clear="both"></div>

    {% for article in row_two %}
        <div class="column-6">
            <h1>{{ article.title }}</h1>
            <h2>{{ article.sub_title }}</h2>
            <p>by {{ article.author }} | {{ article.location }} | {{ article.pub_date.date }}</p>
            <figure class="col6">
                <img src="{{ article.featured_image }}">
                <figcaption>{{ article.image_caption }}</figcaption>
            </figure>

            {% autoescape off %}
            {{ article.teaser }}
            {% endautoescape %}
            <p>... for more <a href="{% url 'blog' article.pk %}">click here</a></p>
        </div>

    {% endfor %}

    <br clear="both">
    <div class="column-12">
        <h2>See a complete list of all <a href="{% url 'blogs' %}">jovian34 blogs</a></h2>
    </div>

{% endblock %}