/*-------Prevents iPhone from resizing in landscape mode --------*/
html {-webkit-text-size-adjust: none; }

/*------ apply a natural box layout model to all elements ----------*/
*{
box-sizing:border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;}


body {
	background-color: $body-background-color;
	color: $body-text-color;
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
}

p {
	font-size: 400;
}

h1 {
	font-size: 700;
}

h2 {
	font-size: 600;
}

h3 {
	font-size: 500;
}

.quote	{
	margin: 10%;
	font-style: italic;
	color: $green;
}

.paragraph-photo {
	float: left;
	width: 70%;
	padding: 5px;
}
/*--------HEADER---------------*/
#headerWrapper {
	background-color: $body-background-color;
}

/*------BANNER-----*/

.banner {
	width: 95%;
	align-content: center;
}


/*--------NAVIGATION------------*/

.nav-buttons {
	text-align: center;
	background-color: $green-lite;
	color: $black-subtle;
	border-style: solid;
	border-width: 1%;
	border-color: $black-subtle;
}

/* unvisited link */
a:link {
    color: $link;
}

/* visited link */
a:visited {
    color: $link-visited;
}



/* selected link */
a:active {
    color: $link-active;
}



/*---------COLUMNS--------*/
.column-12, .column-9, .column-8, .column-6, .column-4, .column-3, .column-2 {
	padding: .5em 2%;
}

.column-2{width: 50%; float: left;}
.column-2 img {width: 100%;}

.color-1, .color-2 {
	padding: .4em 1em .5em 1em;
}
.color-1{
	background-color: $yellow;
}

/*------ PHOTO STYLING ------*/


figure.col3, figure.col4, figure.col6 {
	width: 28%;
	margin-left: 2%;
	float: right;
	border: 1px solid $black-subtle;
	background-color: $grey-dark;
}

figure.col3full, figure.col4full, figure.col6full{
	margin-left: 2%;
	width: 100%;
	position: relative;
	overflow: hidden; 
	border: 1px solid $black-subtle;
	background-color: $grey-dark;
}

figcaption	{
	text-align: center;
	font-size: .8em;
	padding: .3em 0;
	font-weight: 700;
}
figure.col4 img, figure.col6 img, figure.col3full img, figure.col4full img, figure.col6full img {
	width: 100%;
}


/*-------------CONTENT-----------------*/


.asideList	{
	list-style-type: circle;
	font-weight: 400;
	padding: 3%;
}


.altTable	{
	background-color: $grey;
}

#contentWrapper	{
	padding: 1%;
	}

#contentWrapper h1 {
	margin: 1% 1%;
	font-size: 24px;
	font-weight: 700;
}

table, th, td {
   border: 1px solid $black;
   width: 100%;
   padding: 5px;
} 

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; left: 0; 
	width: 100%; 
	height: 100%; 
}

#contentWrapper h2 {
	margin: 1% 0;
	font-size: 16px;
	font-weight: 700;
}

/*----- 12 COLUMN LAYOUT -----*/
.column-3, .column-4, .column-6, .column-9, .column-12 {
	width: 100%;
	padding: .5em 2%;
}


/*---------------FOOTER---------------*/
#footerWrapper {background-color: $footer-background-color;}
footer {
	clear: both;
	font-size: .7em;
	color: $footer-text-color;
	text-align: center;
	padding: .6em;
}
footer a {color: $footer-text-color;}

#green	{
	padding: 2em;
}

/*OTHER STUFF*/
/* ---------- OTHER STUFF ------*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

