@media only screen and (min-width: 900px) {

/*NAVIGATION HERE*/

	/* mouse over link */
a:hover {
    color: $green-lite;
}
	
/*--------CONTENT---------*/


figure.col4, figure.col6 {
	width: 40%;
}

#contentWrapper {
	display: table;
	width: 100%;
}
	


/*-------COLUMNS----------*/
.column-9, .column-8, .column-6, .column-4 , .column-3 {
	float: left;
	display: table-cell;
}

.column-9 {
	width: 75%;
}

.column-8	{
	width: 66.666%;
}

.column-6 {
	width: 50%;
}

.column-4 {
	width: 33.3333%;
}

.column-3 {
	width: 25%;
}

.column-2 {
	width: 16.6667%;
}





} /*end of the media query*/